.menu {
	height:42px;
	padding:0 0 0 16px;
	background:url(images/spacer.png) repeat;
}
.menu li {
	display:block;
	float:right;
}

.menu li.active {
	background: #FF0000;
}

.menu a {
	color:#FFF;
	display:block;
	line-height:42px;
	text-decoration:none;
	padding:0 14px;
}
.menu a:hover {
	background:url(images/spacer.png) repeat;
}